<template name="viewCourse">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="page-header" style="margin-top:0px">
                <div class="row">
                    <div class="col-md-10">
                        <h3 style="margin-top:5px" class="clearfix">
							{{details.title}}
                            <small>With {{createdByUserName}}</small>
                        </h3>
                    </div>
                    <div class="col-md-2">
						<h3 style="margin-top:5px" class="text-right">
						{{#if isSignedUp}}
							<span class="label label-success ">
							<span class="glyphicon glyphicon-ok"> </span>
								Subscribed
							</span>
							{{/if}}
							{{#if isOnWaitingList}}
								<span class="label label-warning ">
							<span class="glyphicon glyphicon-hourglass"> </span>
								Waiting
							</span>
						{{/if}}
						</h3>
                    </div>
                </div>

			</div>
			{{#if isInRole "administrator"}}
				{{#unless approved}}
					<div class="alert alert-warning" role="alert">
						<span class="glyphicon glyphicon-warning-sign"></span>
						This course has not yet been approved. <a href="#" class="alert-link lnk-approve-course"> Approve it now</a>
					</div>
				{{/unless}}
			{{/if}}
			<div class="row">
				<div class="col-md-12">
					<p>
						<strong>Objectives:</strong>
						{{details.objectives}}
					</p>
					<p>
						<strong>Intended Learnings:</strong>
						{{details.intendedLearnings}}

					</p>
				</div>
			</div>
			<p>
				<a href="#" class="btn btn-default" role="button" data-toggle="collapse" data-target="#sessionDetails_{{_id}}" aria-expanded="false" aria-controls="sessionDetails_{{_id}}">
					<span class="glyphicon glyphicon-calendar"> </span>
					Times / Places
				</a>
                <a href="#" class="btn btn-default" role="button" {{disableUsersAttending}} data-toggle="collapse" data-target="#usersAttending_{{_id}}" aria-expanded="false" aria-controls="usersAttending_{{_id}}">
                    <span class="glyphicon glyphicon-user"> </span>
                    Attendants
					<span class="badge">{{numUsersSignedUpOrOnWaitingList}} / {{details.numberOfSpaces}}</span>
                </a>
				{{#if canSignUpToOrRegignFromCourse}}
				<button class="btn btn-primary btn-sign-up {{#if isSignedUpOrOnWaitingList}}btn-danger{{/if}}" role="button" disabled="{{#unless currentUser}}disabled{{/unless}}" >
					<span class="glyphicon
						{{#if isSignedUpOrOnWaitingList}}
							glyphicon-remove
						{{else}}
							{{#if courseIsFull}}
								glyphicon-hourglass
							{{else}}
								glyphicon-ok
							{{/if}}
						{{/if}}
					"> </span>
					{{#if isSignedUpOrOnWaitingList}}
						Cancel your place
					{{else}}
						{{#if courseIsFull}}
							Join waiting list
						{{else}}
							Sign Up
						{{/if}}
					{{/if}}
				</button>
				{{/if}}
				{{#if canEdit}}
				<button class="btn btn-warning btn-edit" role="button">
					<span class="glyphicon glyphicon-edit"> </span>
					Edit
				</button>
				{{/if}}
			</p>
			<div id="sessionDetails_{{_id}}" class="collapse">
				{{> viewSessions sessions=sessions}}
			</div>
            <div id="usersAttending_{{_id}}" class="collapse">
				{{> usersAttending }}
            </div>
		</div>
	</div>
</template>
