<template name="viewMyCourses">
	<table class="table table-striped">
		<thead>
			<tr>
				<th class="col-md-6">Title</th>
				<th class="col-md-5">Next Session At</th>
				<th class="col-md-1 text-center">Resign?</th>
			</tr>
		</thead>
		<tbody>
			{{#each courses}}
			<tr>
				<td class="col-md-6">
					{{details.title}}
				</td>
				<td class="col-md-5">
					{{>moment date=nextSessionDateForCourse format="D MMMM YYYY"}}
				</td>
				<td class="col-md-1 text-center">
					<a href="#" class="btn btn-xs btn-primary btn-resign btn-danger" role="button">
						<span class="glyphicon glyphicon-remove"> </span>
					</a>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</template>
