<template name="viewSessions">
	<table class="table table-striped">
		<thead>
			<tr>
				{{#if showCourseName}}
				<th>Course</th>
				{{/if}}
				<th>Date</th>
				<th>Starts At</th>
				<th>Duration (minutes)</th>
				<th>Place</th>
			</tr>
		</thead>
		<tbody>
			{{#each sessions}}
			<tr>
				{{#if courseName}}
				<td>{{courseName}}</td>
				{{/if}}
				<td>{{>moment date=startsAt format="D MMMM YYYY"}}</td>
				<td>{{>moment date=startsAt format="HH:mm"}}</td>
				<td>{{durationMinutes}}</td>
				<td>{{locationName}}</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</template>
