<template name="addSessions">
	<h2>Session details <small>When will it happen?</small></h2>
	<div class="container">
		{{#each sessions}}
			{{> sessionDetails}}
		{{/each}}
		
		<div class="row">

			<div class="col-md-9">
			</div>
			<div class="col-md-2">
				<p class="text-right">
					<button id="btnAddSession" type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"> Add Session</span></button>
				</p>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</template>